
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Post</a></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click"><a href="#">Menu</a>
				<ul class="dropdown">
					<li class="title back js-generated" href="#">
						<h5>
							<a href="javascript:void(0)">Back</a>
						</h5>
					</li>
					<li class="parent-link show-for-small-only">
						<a class="parent-link js-generated" href="#">Inicio</a>
					</li>
					<li>
						<label>Menu</label>
					</li>
					<% if user_signed_in? %>
					<li><%= link_to'Ver',controller:'/posts',action:'index'%></li>
					<li><%= link_to'Nuevo',controller:'/posts',action:'new'%></li>
					<%end%>
				</ul>
			</li>
			<li class="divider"></li>
		</ul>


<ul class="right">
	<% if user_signed_in? || administrador_signed_in? %>
			<li><a>Logged ini as <strong><%= current_user ? current_user.email : current_administrador.email %></strong>.</a></li>

			<ul class="right">
				

					<li><%=link_to 'Edit Profile', current_user ? edit_user_registration_path : edit_administrador_registration_path, :class=>'navbar-link'%></li>
					<li><%=link_to "Logout", destroy_user_session_path, method: :delete, :class=>'navbar-link'%></li>
				</ul>



			<%else%>

		<ul class="right">
				<li class="has-dropdown not-click"><a href="#">Sing up</a>
					<ul class="dropdown">
						<li>
							<label>Sing up</label>
						</li>
						<li><%= link_to'User', new_user_registration_path,:class=>'navbar-link'%></li>
						<li><%=link_to 'Admin', new_administrador_registration_path,:class=>'navbar-link'%></li>
					</ul>
				</li>

			</ul>
			<ul class="right">
				<li class="has-dropdown not-click"><a href="#">Login</a>
					<ul class="dropdown">
						<li>
							<label>Login</label>
						</li>
						<li><%= link_to'User', new_user_session_path,:class=>'navbar-link'%></li>
						<li><%=link_to 'Admin', new_administrador_session_path,:class=>'navbar-link'%></li>
					</ul>
				</li>

			</ul>
			<%end%>
</ul>

	</section>

</nav>